body {
    -webkit-text-size-adjust: none;
}


#myvideo{
	position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    width: 100%;
    height: 100%;
}


.content {
  position: fixed;
  top: 0;
  left: 0;
  background: #000122;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  padding-left: 0px;
  animation-name: slideDown;
  animation-duration: 2s;
}

.hide{
	display: none;
}


.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #000;
  color: #f1f1f1;
  width: 100%;
  padding-left: 0px;
  animation-name: slideup;
  animation-duration: 2s;
  margin-bottom: 10px;
}


.icon_detail{
	padding-left: 100px;
	cursor: pointer;
}



.text_detail{
	padding-left: 350px;
	visibility: visible;
  	cursor: pointer;
  	display: inline;
}
.icon_detail:hover ~ .text_detail{
	visibility: visible;
	animation-name: slideup;
  	animation-duration: 2s;
}


.icon_skills{
	float: left;
	padding-left: 350px;
	cursor: pointer;
}

.text_skills{
	padding-left: 90px;
	cursor: pointer;
	display: inline;
}

.ski{
	padding-left: 93px;
}

.achi{
	padding-left: 75px;
}

.proj{
	padding-left: 60px;
}

.cont{
	padding-left: 85px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.icon_skills{
		padding-left: 150px;
	}
	.text_detail{
		padding-left: 150px;
	}
	.ski{
		padding-left: 93px;
	}

	.achi{
		padding-left: 90px;
	}

	.proj{
		padding-left: 90px;
	}

	.cont{
		padding-left: 100px;
	}
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.content {
	  font-size: 2.0rem;
	  padding:40px;
	  padding-left: 0px;
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}



@keyframes slideup {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideup {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(20%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}